lib/npm-debug.log

node_modules
node_modules/*
*node_modules

!*.gitkeep/
server/default/run/*
server/default/datas/*
server/default/logs/*
*.log
*.swp
*~

.idea
server/test/run/*
server/test/datas/*
server/test/logs/*
