lib/npm-debug.log

node_modules
node_modules/*
*node_modules

!*.gitkeep/
servers/default/run/*
servers/default/datas/*
servers/default/logs/*
*.log
*.swp
*~

.idea
servers/test/run/*
servers/test/datas/*
servers/test/logs/*

*sandbox*
